[defaults]
INVENTORY = ansible-play/inventory.yml
ansible_python_interpreter=/usr/bin/python3
timeout=30
#private_key_file = ~/.ssh/dans-us-west-2-keypair.pem
private_key_file = ~/.ssh/id_ed25519-dans-ke
vars_file =  ansible-play/variables.yml
log_path = ansible-play/logs
display_args_to_stdout = true
stdout_callback = yaml
bin_ansible_callbacks = True

[ssh_connection]
pipelining = True
